@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Pangolin&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #28422b;
}

a,
button,
h1,
h2,
h3,
h4,
img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 80%;
  left: 10%;
  top: 5%;
  font-family: 'Pangolin', cursive;
  color: white;
}

header .logo,
header nav,
header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo {
  cursor: pointer;
  font-size: 1.6em;
  letter-spacing: 1px;
  text-transform: capitalize;
}

header nav {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav a {
  cursor: pointer;
  padding: 5px;
  margin-right: 20px;
  font-size: 1.4em;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

header nav a:hover {
  font-size: 1.5em;
}

header nav a.active {
  border-bottom: 1px solid white;
  font-size: 1.5em;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1100px;
  height: 670px;
  padding: 5% 3%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);
  color: #333333;
  background: #eeeeee;
  border-left: 10px solid #737373;
  border-bottom: 10px solid dimgray;
  border-top: 10px solid #848484;
  border-right: 10px solid #8b8b8b;
}

.letterSection,
.letters,
h1,
.arrowButtons {
  background: #eeeeee;
  font-family: 'Balsamiq Sans', cursive;
}

.letterSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

.letterSection .letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.letterSection h1 {
  font-size: 20em;
}

.letterSection h1 span {
  background: transparent;
  font-size: 0.3em;
  margin-left: 30px;
}

.letterSection button {
  border: none;
  border-bottom: 4px solid #531a1a;
  outline: none;
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 1.5em;
  background: #ff4747;
  color: white;
  border-radius: 8px;
  padding: 20px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.letterSection button:hover {
  opacity: 0.9;
}

.letterSection button:active {
  opacity: 1;
  border-bottom: 4px solid #531a1a;
  border-bottom: 2px solid #531a1a;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.letterSection button.start {
  background: #24af42;
  border-bottom: 4px solid #28422b;
}

.letterSection button.start:active {
  border-bottom: 2px solid #28422b;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.letterSection .arrowButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -10px;
}

.letterSection .arrowButtons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  width: 80px;
  height: 80px;
  background: #24af42;
}

.letterSection .arrowButtons button:active {
  border: none;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.letterSection .arrowButtons .arrowRight {
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.letterSection .arrowButtons .arrowLeft {
  margin-right: 20px;
  -webkit-clip-path: polygon(100% 0, 0 50%, 100% 100%);
          clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.letterSection .arrowButtons .buttonWrap {
  background: none;
  -webkit-filter: drop-shadow(0px 2px 0px #28422b);
          filter: drop-shadow(0px 2px 0px #28422b);
}

.letterSection .arrowButtons .buttonWrap:active {
  -webkit-filter: drop-shadow(0px 1px 0px #28422b);
          filter: drop-shadow(0px 1px 0px #28422b);
}

.illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -50px;
  margin-right: -20px;
  background: #eeeeee;
}

.illustration img,
.illustration h3 {
  background: #eeeeee;
}

.illustration h3 {
  text-align: center;
  font-size: 3em;
  margin-top: 20px;
  font-family: 'Pangolin', cursive;
}
/*# sourceMappingURL=style.css.map */