@import 'variables';

@mixin borderMixin($width, $color) {
    border-left: $width solid lighten($color, 5%);
    border-right: $width solid lighten($color, 17%);
    border-top: $width solid lighten($color, 12%);
    border-bottom: $width solid $color;
}

@mixin centering($x, $y) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate($x, $y);
}
