$background-green: rgb(40, 66, 43);
$font-color: #333333;
$dirty-white: rgb(238, 238, 238);
$border-grey: rgb(105, 105, 105);
$button-green: rgb(36, 175, 66);
$border-button-green: rgb(40, 66, 43);
$button-red: rgb(255, 71, 71);
$border-button-burgendy: rgb(83, 26, 26);
