@import 'variables';
@import 'mixins';
@import 'animations';
@import './responsive';
@import './memoryGame';
@import './loadingScreen';
@import './header';
@import './wrapper';
@import './letterSection';
@import './illustrationSection';

@font-face {
    font-family: 'pangolin';
    src: url(../fonts/Pangolin-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $background-green;
    font-family: pangolin;
}

img {
    pointer-events: none;
}
button {
    outline: none;
}
a,
button,
h1,
h2,
h3,
h4,
img,
.box,
.front,
.back,
.logo {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

header,
header .logo,
header nav,
header a,
.wrapper,
.letterSection,
.letterSection .letters,
.arrowButtons,
.arrowButtons button,
.illustration,
.memoryGame.active,
.memoryGame .box {
    display: flex;
}

header .logo,
nav a,
button,
.box {
    cursor: pointer;
}

.loadImagesContainer {
    img {
        display: none;
    }
}

@include responsive();
