@import './utilities/variables';
@import './utilities/animations';
@import './utilities/mixins';
@import './utilities/responsive';
@import './components/loadingScreen';
@import './components/header';
@import './components/wrapper';
@import './sections/memoryGame';
@import './sections/letterSection';
@import './sections/illustrationSection';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $background-green;
	font-family: 'Pangolin', cursive;
}

img {
	pointer-events: none;
}
button {
	outline: none;
}
a,
button,
h1,
h2,
h3,
h4,
img,
.box,
.front,
.back,
.logo {
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

header,
header .logo,
header nav,
header a,
.wrapper,
.letterSection,
.letterSection .letters,
.arrowButtons,
.arrowButtons button,
.illustration,
.memoryGame.active,
.memoryGame .box,
#boxes {
	display: flex;
}

header .logo,
nav a,
button,
.box {
	cursor: pointer;
}

.loadImagesContainer {
	img {
		display: none;
	}
}

// @include responsive();
