@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Pangolin&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(40, 66, 43);
    font-family: 'Pangolin', cursive;
}
a,
button,
h1,
h2,
h3,
h4,
img {
    user-select: none;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 80%;
    left: 10%;
    top: 5%;
    color: rgb(255, 255, 255);
    .logo,
    nav,
    a {
        display: flex;
    }
    .logo {
        cursor: pointer;
        font-size: 1.6em;
        letter-spacing: 1px;
        text-transform: capitalize;
    }
    nav {
        justify-content: space-around;
        a {
            cursor: pointer;
            padding: 5px;
            margin-right: 20px;
            font-size: 1.4em;
            transition: 0.1s ease-in-out;
            &:hover {
                font-size: 1.5em;
            }
            &.active {
                border-bottom: 1px solid white;
                font-size: 1.5em;
            }
        }
    }
}

.wrapper {
    display: flex;
    position: absolute;
    justify-content: space-around;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 670px;
    padding: 5% 3%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.301);
    color: #333333;
    background: rgb(238, 238, 238);
    border-left: 10px solid rgb(115, 115, 115);
    border-bottom: 10px solid rgb(105, 105, 105);
    border-top: 10px solid rgb(132, 132, 132);
    border-right: 10px solid rgb(139, 139, 139);
}

.letterSection {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
    .letters {
        display: flex;
        justify-content: center;
        position: relative;
    }
    h1 {
        font-size: 20em;
        font-family: 'Pangolin', cursive;

        span {
            background: transparent;
            font-size: 0.4em;
            margin-left: 30px;
        }
    }

    button {
        border: none;
        border-bottom: 4px solid rgb(83, 26, 26);
        outline: none;
        cursor: pointer;
        letter-spacing: 3px;
        font-size: 1.5em;
        background: rgb(255, 71, 71);
        color: white;
        border-radius: 8px;
        padding: 20px;
        transition: 0.1s;
        &:hover {
            opacity: 0.9;
        }
        &:active {
            opacity: 1;
            border-bottom: 4px solid rgb(83, 26, 26);
            border-bottom: 2px solid rgb(83, 26, 26);
            transform: translateY(4px);
        }
        &.start {
            background: rgb(36, 175, 66);
            border-bottom: 4px solid rgb(40, 66, 43);
            &:active {
                border-bottom: 2px solid rgb(40, 66, 43);
                transform: translateY(4px);
            }
        }
    }
    .arrowButtons {
        display: flex;
        height: 40px;
        justify-content: center;
        margin-right: -10px;
        button {
            display: flex;
            border: none;
            width: 80px;
            height: 80px;
            background: rgb(36, 175, 66);
            &:active {
                border: none;
                transform: translateY(2px);
            }
        }
        .arrowRight {
            clip-path: polygon(100% 50%, 0 0, 0 100%);
        }
        .arrowLeft {
            margin-right: 20px;
            clip-path: polygon(100% 0, 0 50%, 100% 100%);
        }
        .buttonWrap {
            background: none;
            filter: drop-shadow(0px 2px 0px rgb(40, 66, 43));
            &:active {
                filter: drop-shadow(0px 1px 0px rgb(40, 66, 43));
            }
        }
    }
}

.illustration {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    margin-right: -20px;
    h3 {
        text-align: center;
        font-size: 3em;
        margin-top: 20px;
        font-family: 'Pangolin', cursive;
    }
}

.memoryGame {
    display: none;
    &.active {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
    }

    .box {
        display: flex;
        position: relative;
        height: 200px;
        width: 200px;
        cursor: pointer;
        &.active {
            .front {
                transform: rotateY(0deg) translateX(0px);
            }
            .back {
                transform: rotateY(90deg) skewY(5deg) translateY(-12px)
                    translateX(-30px);
            }
        }

        .square {
            position: absolute;
            height: 200px;
            width: 200px;
            transition: 0.2s ease-in-out;
            transform-style: preserve-3d;
        }
        .front,
        .back {
            border-left: 5px solid rgb(115, 115, 115);
            border-bottom: 5px solid rgb(105, 105, 105);
            border-top: 5px solid rgb(132, 132, 132);
            border-right: 5px solid rgb(139, 139, 139);
            border-radius: 10px;
        }
        .front {
            transform: rotateY(90deg) skewY(-5deg) translateX(200px);
            transform-origin: right;
            .boxContent {
                position: relative;
                height: 100%;
                width: 100%;
                img,
                h2,
                p {
                    position: absolute;
                }
                img {
                    opacity: 1;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -55%) rotateY(180deg);
                    width: 180px;
                    height: 180px;
                    opacity: 0.8;
                }
                h2 {
                    font-size: 2.2em;
                    left: 8%;
                    top: 2%;
                    span {
                        margin-left: 5px;
                        font-size: 0.6em;
                    }
                }
                p {
                    bottom: 0%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, 75%);
                    opacity: 0.8;
                }
            }
        }
        .back {
            background: hotpink;
            transform-origin: left;
            &:hover {
                opacity: 0.95;
            }
        }
    }
}
