@keyframes scalingIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes scalingInButtons {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    80% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes scalingOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}
@keyframes capitalAndLower {
    0% {
        transform: scale(0) rotate(20deg);
        opacity: 0;
    }

    40% {
        transform: scale(1.5) rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInTitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes correctFront {
    0% {
    }
    100% {
        border: none;
    }
}
