.letterSection {
    flex-direction: column;
    width: 300px;
    margin-top: -20px;
    margin-right: -50px;
    .letters {
        justify-content: center;
        position: relative;
    }
    h1 {
        font-size: 20em;
        &.animate {
            animation: capitalAndLower 0.7s;
        }
        span {
            background: transparent;
            font-size: 0.4em;
            margin-left: 30px;
        }
    }

    button {
        border: none;
        border-bottom: 4px solid $border-button-burgendy;
        outline: none;
        letter-spacing: 3px;
        font-size: 1.5em;
        background: $button-red;
        color: white;
        border-radius: 8px;
        padding: 20px;
        transition: 0.1s;
        animation: scalingInButtons 0.35s ease-in-out;
        &:hover {
            opacity: 0.9;
        }

        &:active {
            opacity: 1;
            border-bottom: 2px solid $border-button-burgendy;
            transform: translateY(4px);
        }
        &.start {
            background: $button-green;
            border-bottom: 4px solid $border-button-green;
            &:active {
                border-bottom: 2px solid $border-button-green;
                transform: translateY(4px);
            }
        }
    }
    .arrowButtons {
        height: 40px;
        justify-content: center;
        margin-right: -10px;
        button {
            border: none;
            width: 80px;
            height: 80px;
            background: $button-green;

            &:active {
                border: none;
                transform: translateY(2px);
            }
        }
        .arrowRight {
            clip-path: polygon(
                0% 20%,
                60% 20%,
                60% 0%,
                100% 50%,
                60% 100%,
                60% 80%,
                0% 80%
            );
        }
        .arrowLeft {
            margin-right: 20px;
            clip-path: polygon(
                40% 0%,
                40% 20%,
                100% 20%,
                100% 80%,
                40% 80%,
                40% 100%,
                0% 50%
            );
        }
        .buttonWrap {
            background: none;
            filter: drop-shadow(0px 2px 0px $border-button-green);
            &:active {
                filter: drop-shadow(0px 1px 0px $border-button-green);
            }
        }
    }
}
