.memoryGame {
	display: none;
	gap: 2em;
	&.active {
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 80%;
	}

	#progresBarWrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		font-size: 20px;
		color: white;
		.progressBar,
		.progressValue {
			transition: 0.3s ease-in-out;
		}
		.progressBar {
			display: none;
			width: 100%;
			border-radius: 15px;
			@include borderMixin(2px, $border-grey);
			background: rgb(238, 238, 238);
			box-shadow: inset 0px 0px 2px #000000;
			padding: 0.3em 0.3em 0.3em;
			animation: scalingInButtons 0.7s ease-in-out;
			&.active {
				display: flex;
			}
			&.correct {
				transform: scale(1.05);
				@include borderMixin(2px, $button-green);
			}
			&.wrong {
				@include borderMixin(2px, $button-red);
				.progressValue {
					background: lighten($button-red, 5%);
				}
			}
			.progressValue {
				height: 0.5em;
				width: 5%;
				border-radius: 15px;
				background: lighten($button-green, 5%);
			}
		}
	}

	#scores {
		justify-content: space-between;
		align-items: flex-end;
		color: white;
		width: 100%;
		font-size: 26px;
		opacity: 0;
		&.active {
			display: flex;
			animation: scalingIn 0.1s;
			opacity: 1;
		}
		#timer {
			position: relative;
			margin-left: 10px;
			font-size: 30px;
			#counterTimer {
				&.bonus {
					animation: scaleInOutGreen 0.3s ease-in-out;
				}
				&.timeIsUp {
					animation: pulsingRedCharacters 0.8s ease-in-out;
				}
			}
			#bonusTime {
				position: absolute;
				top: 0;
				right: -10px;
				margin-left: 10px;
				opacity: 0;
				&.fadeOutToTopGreen {
					opacity: 1;
					animation: fadeOutToTopGreen 0.2s ease-in-out;
				}
			}
		}
	}
	#playAgainBtn {
		display: none;
		@include button($button-green, 4px, rgb(2, 38, 6));

		width: 100%;
		&:hover {
			opacity: 0.9;
		}
		&:active {
			opacity: 1;
			border-bottom: 2px solid rgb(2, 38, 6);
			transform: translateY(4px);
		}
		&.show {
			display: block;
		}
	}

	#boxes {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		height: 300px;
		transition: 0.3s;
		gap: 10px;
		&.gameOver {
			height: 0px;
		}
		.box {
			position: relative;
			height: 140px;
			width: 140px;
			transition: 0.2s ease-out;
			animation: scalingIn 0.4s;
			&.active {
				.front {
					transform: rotateY(0deg) translateX(0px);
					&.correct {
						@include borderMixin(5px, $button-green);
						background: lighten($button-green, 53%);
					}
					&.pulsingRed {
						@include borderMixin(5px, $button-red);
						background: lighten($button-red, 40%);
						animation: pulsingRed 1s infinite;
					}
				}
				.back {
					transform: rotateY(90deg) skewY(5deg) translateY(-12px) translateX(-30px);
				}
			}
			&.correct {
				animation: scalingOut 0.6s ease-out;
				background: transparent;
				opacity: 0;
			}
			&.gone {
				display: none;
			}
			&.shaking {
				animation: 0.968s shaking infinite;
			}
			&.rotatingDisappearance {
				animation: 2s rotatingDisappearance ease-out;
			}
			.square {
				position: absolute;
				height: 100%;
				width: 100%;
				transition: 0.2s ease-in-out;
				transform-style: preserve-3d;
			}
			.front,
			.back {
				@include borderMixin(5px, $border-grey);
				border-radius: 10px;
			}
			.front {
				transform: rotateY(90deg) skewY(-10deg) translateX(140px);
				transform-origin: right;
				background: $dirty-white;

				img {
					@include centering(-50%, -50%);
					width: 120px;
					height: 120px;
				}
				h2 {
					position: absolute;
					font-size: 2.2em;
					left: 8%;
					top: 2%;
					span {
						margin-left: 5px;
						font-size: 0.6em;
					}
				}
				p {
					display: none;
				}
			}
			.back {
				background: $dirty-white;
				transform-origin: left;
				text-align: center;
				justify-content: center;
				img {
					height: 100%;
					width: 100%;
				}
				&:hover {
					opacity: 0.95;
				}
			}
		}
	}
	@media screen and (max-width: 1280px) and (orientation: landscape) {
		#boxes {
			align-content: flex-start;
			.box {
				height: 90px;
				width: 90px;
				.front {
					transform: rotateY(90deg) skewY(-5deg) translateX(85px);
					img {
						height: 75px;
						width: 75px;
						transform: translate(-50%, -50%);
					}
					h2 {
						font-size: 1.8em;
						opacity: 0.8;
					}
				}
				&.active {
					.back {
						transform: rotateY(90deg) skewY(5deg) translateY(-5px) translateX(-5px);
					}
				}
			}
		}
	}
	@media screen and (max-width: 600px) and (orientation: portrait) {
		&.active {
			gap: 1em;
		}
		#scores {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			& > :nth-child(2) {
				order: 1;
			}
			font-size: 16px;
			#timer {
				margin-top: 5px;
				font-size: 24px;
			}
		}
		#playAgainBtn {
			font-size: 16px;
		}
		#boxes {
			align-content: flex-start;
			.box {
				height: 55px;
				width: 55px;
				.front {
					transform: rotateY(90deg) skewY(-5deg) translateX(50px);
					img {
						height: 45px;
						width: 45px;
					}
					h2 {
						font-size: 1em;
						opacity: 0.7;
					}
				}
				&.active {
					.back {
						transform: rotateY(90deg) skewY(10deg) translateY(-5px) translateX(-5px);
					}
				}
			}
		}
		#progresBarWrapper {
			font-size: 10px;
		}
	}
	@media screen and (max-width: 320px) and (orientation: portrait) {
		#scores {
			font-size: 14px;
			#timer {
				font-size: 20px;
			}
		}
		#playAgainBtn {
			font-size: 16px;
		}
		#boxes {
			.box {
				height: 50px;
				width: 50px;
				.front {
					img {
						height: 40px;
						width: 40px;
					}
				}
			}
		}
		#progresBarWrapper {
			font-size: 10px;
		}
	}
	@media screen and (max-width: 1000px) and (max-height: 600px) and (orientation: landscape) {
		&.active {
			gap: 1em;
		}
		#scores {
			font-size: 16px;
			#timer {
				font-size: 20px;
			}
		}
		#playAgainBtn {
			font-size: 16px;
		}
		#boxes {
			align-content: flex-start;
			gap: 5px;
			&.gameOver {
				height: 130px;
			}
			.box {
				height: 50px;
				width: 50px;
				.front {
					transform: rotateY(90deg) skewY(-5deg) translateX(45px);
					img {
						height: 40px;
						width: 40px;
					}
					h2 {
						font-size: 1em;
						opacity: 0.7;
					}
				}
				&.active {
					.back {
						transform: rotateY(90deg) skewY(10deg) translateY(-5px) translateX(-5px);
					}
				}
			}
		}
		#progresBarWrapper {
			font-size: 10px;
		}
	}
	@media screen and (max-width: 568px) and (max-height: 320px) and (orientation: landscape) {
		#scores {
			font-size: 12px;
			#timer {
				font-size: 16px;
			}
		}
	}
	@media screen and (max-width: 1000px) and (min-height: 960px) and (orientation: portrait) {
		#scores {
			font-size: 22px;
			#timer {
				margin-top: 10px;
				font-size: 28px;
			}
		}
		#boxes {
			align-content: flex-start;
			gap: 10px;
			.box {
				height: 100px;
				width: 100px;
				.front {
					transform: rotateY(90deg) skewY(-5deg) translateX(50px);
					img {
						height: 90px;
						width: 90px;
					}
					h2 {
						font-size: 1.5em;
						opacity: 0.9;
					}
				}
				&.active {
					.back {
						transform: rotateY(90deg) skewY(5deg) translateY(-5px) translateX(-5px);
					}
				}
			}
		}
		#playAgainBtn {
			font-size: 24px;
		}
		#progresBarWrapper {
			font-size: 20px;
		}
	}
}
