.memoryGame {
	display: none;
	gap: 2em;
	&.active {
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 80%;
	}

	#progresBarAndTimerWrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		font-size: 20px;
		color: white;
		.progressBar,
		.progressValue {
			transition: 0.3s ease-in-out;
		}
		.progressBar {
			display: none;
			width: 90%;
			border-radius: 15px;
			@include borderMixin(2px, $border-grey);
			background: rgb(238, 238, 238);
			box-shadow: inset 0px 0px 2px #000000;
			padding: 0.3em 0.3em 0.3em;
			animation: scalingInButtons 0.7s ease-in-out;
			&.active {
				display: flex;
			}
			&.correct {
				transform: scale(1.05);
				@include borderMixin(2px, $button-green);
			}
			&.wrong {
				@include borderMixin(2px, $button-red);
				.progressValue {
					background: lighten($button-red, 5%);
				}
			}
			.progressValue {
				height: 0.5em;
				width: 5%;
				border-radius: 15px;
				background: lighten($button-green, 5%);
			}
		}
		#timer {
			width: 10%;
			position: relative;
			margin-left: 10px;
			span {
				position: absolute;
				font-size: 30px;
				top: -4px;
			}
		}
	}

	#scores {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		color: white;
		width: 100%;
		font-size: 26px;
		padding: 0 10% 0 0;
	}
	#playAgainBtn {
		display: none;
		border: none;
		border-bottom: 4px solid $border-button-green;
		outline: none;
		letter-spacing: 3px;
		font-size: 2em;
		background: $button-green;
		color: white;
		border-radius: 8px;
		padding: 20px;
		transition: 0.1s;
		animation: scalingInButtons 0.35s ease-in-out;
		&:hover {
			opacity: 0.9;
		}
		&:active {
			opacity: 1;
			border-bottom: 2px solid $border-button-green;
			transform: translateY(4px);
		}
		&.show {
			display: block;
		}
	}

	#boxes {
		flex-wrap: wrap;
		height: 300px;
		width: 90%;
		gap: 10px;
		margin-right: 10%;
		.box {
			position: relative;
			height: 140px;
			width: 140px;
			transition: 0.6s;
			animation: scalingIn 0.4s;
			&.active {
				.front {
					transform: rotateY(0deg) translateX(0px);
					&.correct {
						@include borderMixin(5px, $button-green);
						background: lighten($button-green, 53%);
					}
					&.pulsingRed {
						@include borderMixin(5px, $button-red);
						background: lighten($button-red, 40%);
						animation: pulsingRed 1s infinite;
					}
				}
				.back {
					transform: rotateY(90deg) skewY(5deg) translateY(-12px) translateX(-30px);
				}
			}
			&.correct {
				animation: scalingOut 0.6s ease-out;
				background: transparent;
				opacity: 0;
			}
			&.gone {
				display: none;
			}
			&.shaking {
				animation: 0.968s shaking infinite;
			}
			&.rotatingDisappearance {
				animation: 2s rotatingDisappearance ease-out;
			}
			.square {
				position: absolute;
				height: 100%;
				width: 100%;
				transition: 0.2s ease-in-out;
				transform-style: preserve-3d;
			}
			.front,
			.back {
				@include borderMixin(5px, $border-grey);
				border-radius: 10px;
			}
			.front {
				transform: rotateY(90deg) skewY(-5deg) translateX(200px);
				transform-origin: right;
				background: $dirty-white;

				img {
					@include centering(-50%, -55%);
					width: 120px;
					height: 120px;
				}
				h2 {
					position: absolute;
					font-size: 2.2em;
					left: 8%;
					top: 2%;
					span {
						margin-left: 5px;
						font-size: 0.6em;
					}
				}
				p {
					@include centering(-50%, 65%);
					bottom: 0%;
					opacity: 0.8;
				}
			}
			.back {
				background: $dirty-white;
				transform-origin: left;
				text-align: center;
				justify-content: center;
				img {
					height: 100%;
					width: 100%;
				}
				&:hover {
					opacity: 0.95;
				}
			}
		}
	}
	// @media screen and (min-width: 1400px) {
	// }
	// @media screen and (max-width: 1280px) {
	// }
	// @media screen and (max-width: 1025px) and (orientation: landscape) {
	// 	.box {
	// 		height: 90px;
	// 		width: 90px;
	// 		.front {
	// 			img {
	// 				height: 50px;
	// 				width: 50px;
	// 			}
	// 			p {
	// 				@include centering(-50%, 50%);
	// 			}
	// 		}
	// 	}
	// }
	// @media screen and (max-width: 1025px) and (orientation: portrait) {
	// 	.box {
	// 		height: 160px;
	// 		width: 160px;
	// 		.front {
	// 			img {
	// 				height: 110px;
	// 				width: 110px;
	// 			}
	// 			p {
	// 				@include centering(-50%, 65%);
	// 			}
	// 		}
	// 	}
	// }
}
